*.pyc
*.graph
trainer/models/*.graph
trainer/models/*.pyc
trainer/models/*.ckpt*
trainer/models/*.pb
trainer/models/*txt
trainer/models/*.tflite
output/*
!output/.gitkeep
!dataset/.gitkeep
dataset/*
Test/*.png
CamVid_train.tfrecords
tfrecords.py
log/


