*.pyc
*.graph
models/*.graph
models/*.pyc
models/*.ckpt*
models/*.pb
models/*txt
models/*.tflite
models/*.tar.gz
models/*.h5
checkpoints/
accuracy_vs_epochs.png
loss_vs_epochs.png
colour_codes.csv
CamVid_train.tfrecords
tfrecords.py
SpaceNet/
.vscode/
logs/